{% extends 'base.html.twig'%}

{% block title %}Offre{% endblock %}

{% block body %}
    {% embed '/components/back_office_header_and_menu.html.twig' with {'active': 'offers'} %}
        {% block content %}
            <div class="flex-grow">
                {{ include('/components/sub_header.html.twig', {
                    title:'Offres',
                    text:'Ajoutez ici une offre',
                    btnText:'Retour',
                    btnPath:'back_offers_index'
                }) }}

                {{ include('back/offers/_form.html.twig') }}
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
