{% extends 'base.html.twig' %}

{% block title %}Contenu{% endblock %}

{% block body %}
    {% embed '/components/back_office_header_and_menu.html.twig' with {'active': 'offers'} %}
        {% block content %}
            <div class="flex-grow">
                {{ include('/components/sub_header.html.twig', {
                    title:'Offre',
                    text:'Vous pouvez trouvez ici les information de cette offre',
                    btnText:'Éditer',
                    btnPath:'back_offers_edit',
                    btnPathParams: {'id': offer.id},
                    deleteForm:'back/offers/_delete_form.html.twig',
                }) }}

                <table class="table">
                    <tbody>
                    <tr class="flex flex-col gap-2 items-start mb-8">
                        <th>Titre</th>
                        <td>{{ offer.title }}</td>
                        <th>Lien</th>
                        <td>{{ offer.link }}</td>
                        <th>Nombre de contenus associés</th>
                        <td>{{ offer.contents|length }}</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}