{% extends 'base.html.twig' %}

{% block title %}Contents index{% endblock %}

{% block body %}

    {% for content in contents %}
        {{ include('/components/content_preview.html.twig', {type: content.type|lower, path:'front_contents_show', pathParams:{id: content.id}, title:content.title, date:content.updatedAt ? content.updatedAt|date('Y-m-d H:i:s') : content.createdAt|date('Y-m-d H:i:s'), image:asset(content.prewiewImg ), categories:content.getCategories }) }}
        <a href="{{ path('back_contents_edit', {'id': content.id}) }}">edit</a>
    {% else %}
        <tr>
            <td colspan="9">no records found</td>
        </tr>
    {% endfor %}
    <a href="{{ path('back_contents_new') }}">Create new</a>
{% endblock %}
