{% extends 'base.html.twig' %}

{% block title %}Mon feed{% endblock %}

{% block body %}
    <div class="container-lite">
        <section id="containerFeed" class="feed-container containerFeed blocks">
            {% set index = 0 %}
            {% for content in contents %}
                {{ include('/components/content_preview.html.twig' , {type: content.type|lower, middle: index == 1 ? true : false, path:'front_contents_show', pathParams:{slug: content.slug}, title:content.title, date:content.updatedAt ? content.updatedAt|date('d-m-Y') : content.createdAt|date('d-m-Y'), image:asset(content.prewiewImg ), description:content.description, categories:content.getCategories }) }}
                {% if index == 2 %}
                    {% set index = 0 %}
                {% else %}
                    {% set index = index + 1 %}
                {% endif %}
            {% else %}
                <tr>
                    <div class="text-4xl text-grey p-8 font-medium" colspan="6">On a rien pour toi, bonne chance! 😢</div>
                </tr>
            {% endfor %}
        </section>
        {{ include('/components/pagination.html.twig', { count:totalNbOfContents }) }}
    </div>
{% endblock %}
