{% extends 'base.html.twig' %}

{% block title %}Contents index{% endblock %}

{% block body %}
    <div class="container-lite">
        <section id="containerFeed" class="feed-container containerFeed blocks">
            {% set index = 0 %}
            {% for content in contents %}
                {{ include('/components/content_preview.html.twig' , {type: content.type|lower, middle: index == 1 ? true : false, path:'front_contents_show', pathParams:{slug: content.slug}, title:content.title, date:content.updatedAt ? content.updatedAt|date('d-m-Y') : content.createdAt|date('d-m-Y'), image:asset(content.prewiewImg ), description:content.description, categories:content.getCategories }) }}
                {% if index == 2 %}
                    {% set index = 0 %}
                {% else %}
                    {% set index = index + 1 %}
                {% endif %}
            {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        </section>
        {% endfor %}
        <a href="{{ path('back_contents_new') }}">Create new</a>
        <div class="status">
            <div class="loader"></div>
        </div>
        {{ include('/components/pagination.html.twig', { count:totalNbOfContents }) }}
    </div>
{% endblock %}
