{% extends 'base.html.twig' %}

{% block title %}Contenus{% endblock %}

{% block body %}
    {% embed '/components/back_office_header_and_menu.html.twig' with {'active': 'categories'} %}
        {% block content %}
            <div class="flex-grow">
                {{ include('/components/sub_header.html.twig', {
                    title:'Contenus',
                    text:'Vous pouvez consulter ici la liste des catégories',
                    btnText:'Ajouter une catégorie',
                    btnPath:'back_categories_new',
                }) }}

                <div class="flex-wrap flex gap-5">
                    {% for category in categories %}
                        {{ include('/components/list_item.html.twig', {
                            path:'back_categories_show',
                            pathParams:{ label: category.label},
                            name: category.label,
                            icon: category.iconReference,
                        }) }}
                    {% endfor %}
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}