{% extends 'base.html.twig'%}

{% block title %}Contenu{% endblock %}

{% block body %}
    {% embed '/components/back_office_header_and_menu.html.twig' with {'active': 'categories'} %}
        {% block content %}
            <div class="flex-grow">
                {{ include('/components/sub_header.html.twig', {
                    title:'Catégories',
                    text:'Ajoutez ici une catégorie',
                    btnText:'Retour',
                    btnPath:'back_categories_index'
                }) }}

                {{ include('back/categories/_form.html.twig') }}
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
