{% extends 'base.html.twig' %}

{% block title %}Contenu{% endblock %}

{% block body %}
    {% embed '/components/back_office_header_and_menu.html.twig' with {'active': 'categories'} %}
        {% block content %}
            <div class="flex-grow">
                {{ include('/components/sub_header.html.twig', {
                    title:'Contenu',
                    text:'Vous pouvez trouvez ici les information de ce contenu',
                    btnText:'Éditer',
                    btnPath:'back_categories_edit',
                    btnPathParams: {'label': category.label},
                    deleteForm:'back/categories/_delete_form.html.twig',
                }) }}

                <table class="table">
                    <tbody>
                    <tr class="flex flex-col gap-2 items-start mb-8">
                        <th>Label</th>
                        <td>{{ category.label }}</td>
                        <th>Nombre de contenus associés</th>
                        <td>{{ category.contents|length }}</td>
                        <th>Nombre d'utilisateurs associés</th>
                        <td>{{ category.users|length }}</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}