.article{
  > p{
    text-align: left;
    color: #5D738D;
    font-family: "Source Sans Pro", Sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    --container-widget-width: 75%;
    --container-widget-flex-grow: 0;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .content-infos{
    display: flex;
    align-items: center;
    gap: 1.5em;
  }

  article{
    color: #5D738D;
  }

  

  date{
    font-family: "Source Sans Pro", Sans-serif;
    color: #5D738D;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
  }

  figure{
    border-radius: 8px;
    width: 100%;
    height: 500px;
    overflow: hidden;
    img{
      object-position: center;
      object-fit: cover;
      width: 100%;
      height: 500px;
    }
  }
}