.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;
  background: #355070;
  border: 1px solid #1F2F42;
  box-shadow: 0px 2px 4px rgba(23, 43, 77, 0.15);
  border-radius: 4px!important;

  &:hover {
    background-color: $color-grey;
    color: $color-white;
  }

  &-icon {
    & p {
      font-size: rem(14);
      font-weight: 500;
    }
    & svg{
      min-width: 1.1em;
      min-height: 1.1em;
      width: 1.1em;
      height: 1.1em;
    }
  }

  &-filled {
    border-radius: 1em;
    background-color: $color-primary!important;
    color: $color-white;
    border: none;

    &:hover {
      background-color: $color-secondary!important;
      color: $color-white;
    }
  }

  &-red {
    background: #FFFFFF;
    border: 1px solid #E1E5EA;
    box-shadow: 0px 2px 4px rgba(23, 43, 77, 0.15);
    background-color: #FFFFFF!important;
    color: $color-error;
    border: none;

    &:hover {
      background-color: $color-error!important;
      color: $color-white;
    }
  }

  &-green {
    background: #FFFFFF;
    border: 1px solid #E1E5EA;
    box-shadow: 0px 2px 4px rgba(23, 43, 77, 0.15);
    border-radius: 1em;
    background-color: #FFFFFF!important;
    color: $color-success;

    &:hover {
      background-color: $color-success!important;
      color: $color-white;
    }
  }

  &-admin {
    color: $color-error;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 8px;

    &:hover {
      color: $color-white;
      background-color: $color-error!important;
      box-shadow: 0px 2px 4px rgba(23, 43, 77, 0.15);
      border-radius: 4px!important;
    }
  }
}


//normalize
[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance:unset;
  background-color:unset;
  background-image:unset;
}





