.content-preview {
  box-shadow: 0px 2px 4px rgba(23, 43, 77, 0.15);
  border-radius:rem(8);

  > article {
    transition: all 0.5s;
    width: 100%;
    height: 600px;
    border-radius:rem(8);
    position: relative;
    overflow: hidden;

    > figure {
      position: absolute;
      top: 0;
      > img {
        width: 100%;
        height: 600px;
        object-fit: cover;
        object-position: center;
      }
    }

    > section {
      width: 100%;
      height: 600px;
      display: flex;
      flex-direction: column;
      gap: 0.9375rem;
      z-index: 1;
      position: relative;
      color: $color-white;
      box-shadow: inset 0 -180px 100px -100px #333;
      transition: all 0.5s;
      padding: 20px;

      > p{
        display: block;
        display: -webkit-box;
        height: rem(54);
        margin: 0 auto;
        font-size:  rem(18);
        line-height: rem(18);
        -webkit-line-clamp:2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      &:hover{
        box-shadow: inset 0 -180px 200px 0px #333;
      }

      > label {
        font-size: rem(24);
        font-weight: 600;
        line-height: rem(18);
      }

      > date{
        font-size: rem(18);
        font-weight: 600;
        line-height: rem(18);
        color: $color-grey
      }

      > div{
        display: flex;
        height: inherit;

        > button{
          width: 60px;
          height: 60px;
          font-size: -0.5rem;
          border-radius: 8px;
          display: flex;
          justify-content: center;
          align-items: center;

          &.big-btn--video{
            background-color: $color-ocean-wave!important;
          }

          &.big-btn--podcast{
            background-color: $color-red-light!important;
          }

          &.big-btn--article{
            background-color: $color-yellow-sub!important;
          }


          > .material-symbols-outlined{
            font-size: rem(56) !important;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .content-preview {
    margin-bottom: 20px;
    box-shadow:unset;
    border-radius:8px;

    > article {
      width: 100%;
      height: 100vh;
      max-width: 100%;
      max-height: 100vh;
      border-radius: 0px;

      > figure {
        top: 0;
        > img {
          height: 100vh;
        }
      }

      > section {
        height: 100vh;
      }
    }
  }
}




