.filter {
  display: flex;
  padding: 0.5rem;
  margin: 0.5rem;
  height: rem(146);
  width: rem(146);
  border-radius: 10%;
  border: 2px solid $color-primary;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &--clicked {
    border: none;
    box-shadow: none;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    & svg {
      width: 48px;
      height: 48px;
      stroke: $color-primary;
    }
    
    &--clicked {
    width: 8rem;
    height: 8rem;
    background-image: url(/assets/images/select.svg);
    background-repeat: no-repeat;

    & svg {
      width: 32px;
      height: 32px;
      stroke: $color-primary;
    }
    }
  }
}