.header {
  background-color: $color-lightgrey;
  padding: 1rem 0rem;
  z-index: 2;
  position: fixed;
  width: 100vw;
  top: 0;
  margin-bottom: 100%;

  &-content {
    display: flex;
    align-items: center;
  }

  &-white {
    background-color: $color-white !important;
  }

  .logo{
    width: 48px;
    height: 48px;
  }
}

.left-container {
  gap: rem(50);
  width: 70%;
  margin-right: rem(50);
}

.header-navigation {
  white-space: nowrap;
  display: flex;
  gap: rem(10);
  align-items: center;
  margin-left: auto;
  margin-right: 0;
  background-color: $color-white;
  padding: rem(10) rem(20);
  border-radius: 0.8rem;

  a {
    white-space: nowrap;
    font-weight: 500;
  }
}

@media (max-width: 768px) {
  .header {
    z-index: 2;
    position: fixed;
    width: 100%;
  }

  .logo{
    width:80%;
  }

  .header-navigation{
    background-color: unset;
    padding: 0;
    gap: 0;
    margin: 0px;
  }


  .left-container {
    gap: 1rem;
    flex-grow: 1;
    margin-right: 1rem;
  }
}

.sidebar {
  /* it's a mobile sidebar, blocker and content */
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  background: $color-white;
  display: none;
  z-index: 99999;
}

.sidebar.visible {
  display: block;
}

.sidebar .blocker {
  position: absolute;
  width: 100%;
  height: 100%;
}

.sidebar .content {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;

  @media (max-width: 768px) {
    width: 100%;
  }

  right: -100%;
  animation: slide 0.5s forwards;
}

#closeMenu {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  cursor: pointer;
}

@keyframes slide {
  100% {
    right: 0;
  }
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  background-color: $color-white;
  margin-top: 5rem;
  padding: 0 1rem;
  gap: 1.5rem;

  a {
    font-size: 1.5rem;
    font-weight: 500;
    color: $color-black;
  }
}
