{% extends 'base.html.twig' %}

{% block title %}Edition de contenu{% endblock %}

{% block body %}
    {% embed '/components/back_office_header_and_menu.html.twig' with {'active': 'contents'} %}
        {% block content %}
            <div class="flex-grow">
                {{ include('/components/sub_header.html.twig', {
                    title:'Contents',
                    text:'Éditez ici un contenu',
                    btnText:'Retour',
                    btnPath:'back_contents_show',
                    btnPathParams: {slug: content.slug},
                }) }}

                {{ include('back/contents/_form.html.twig') }}
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}