{% extends 'base.html.twig' %}

{% block title %}New Contents{% endblock %}

{% block body %}
    <h1>Create new Contents</h1>

    {{ include('back/contents/_form.html.twig') }}

    <a href="{{ path('front_contents_index') }}">back to list</a>
{% endblock %}
