$color-black: #222222;
$color-white: #FAFCFE;
$color-lightgrey: #EBEBEB;
$color-blue-grey: #C4CCD4;
$color-grey: #7E7E7E;
$color-dark-grey: #7A7A7A;

// Jaji colors
$color-primary: #1F2F42;
$color-secondary: #466288;
$color-success: #458E9D;
$color-error: #E67377;
$color-warning: #FFBE1A;
$color-background: #F5F6F7;
$color-placeholder: #CDD3DB;
$color-text: #5D738D;
$color-border: #E1E5EA;

$color-ocean-wave: #336A75;
$color-yellow-sub: #CC9200;
$color-red-light: #AB494C;