$color-black: #222222;
$color-white: #FAFCFE;
$color-lightgrey: #EBEBEB;
$color-blue-grey: #C4CCD4;
$color-grey: #7E7E7E;
$color-dark-grey: #7A7A7A;
$color-primary: #1C5D99;
$color-secondary: #8EC9D1;
$color-success: #3ABA6B;
$color-error: #982130;
$color-warning: #FFA630;
$color-ocean-wave : #336A75;
$color-yellow-sub: #CC9200;
$color-red-light: #AB494C;