@tailwind base;
@tailwind components;
@tailwind utilities;



// Import styles
@import 'fonts';
@import 'colors';
@import 'base';

// Import components
@import 'components/content_preview';
@import 'components/category_label';
@import 'components/header';
@import 'components/button';
@import 'components/subHeader';
@import 'components/search';
@import 'components/filter';
@import 'components/article';
@import "components/form";
@import "components/notyf";

html {
  background-color: $color-white;
  font-family: $font-source-sans-pro !important;
}