{% extends 'base.html.twig' %}

{% block title %}Contenus{% endblock %}

{% block body %}
    {% embed '/components/back_office_header_and_menu.html.twig' with {'active': 'users'} %}
        {% block content %}
            <div class="flex-grow">
                {{ include('/components/sub_header.html.twig', {
                    title:'Contenus',
                    text:'Vous pouvez consulter ici la liste des utilisateurs',
                }) }}
                <form method="GET" action="#" class="w-full">
                    <input name="search_user" type="text" class="search-bar w-full" value="{{ app.request.query.get('search_user') }}" placeholder="Que cherchez-vous ?">
                </form>

                {% for user in users %}
                    {{ include('/components/list_item.html.twig', {
                        path:'back_users_show',
                        pathParams:{ id: user.id},
                        name: user.firstname ~ ' ' ~ user.lastname,
                    }) }}
                {% endfor %}
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}