<a class="content-preview" href="">
    <article >
        <figure>
            <img src="{{ asset('build/images/testBg.png') }}" alt="toilet picture">
        </figure>
        <section>
            <div>
                <button class="big-btn--{{ type }}">
                    {% if type is "video" %}
                        <span class="material-symbols-outlined">play_arrow</span>
                    {% endif %}
                    {% if type is "podcast" %}
                        <span class="material-symbols-outlined">music_note</span>
                    {% endif %}
                    {% if type is "article" %}
                        <span class="material-symbols-outlined">subject</span>
                    {% endif %}
                </button>
            </div>
            <label>{{ title }}</label>
            <date>{{ date }}</date>
        </section>
    </article>
</a>
