<a class="content-preview" href="">
    <article >
        <figure>
            <img src="{{ asset('build/images/testBg.png') }}" alt="toilet picture">
        </figure>
        <section>
            <div>
                <button>
                    <i class="fa fa-heart"></i>
                </button>
            </div>
            <label>Lorem Ipsame alam</label>
        </section>
    </article>
</a>
