<a class="" href="{{ path }}">
        <div class="offer">
                <div class="pill-offer">Inclus dans une offre</div>
                <div class="det-pill-offer"></div>
                <p class="title-sm">{{ text }}</p>
                <p>Pour plus d'information sur cette offre cliquez ici.</p>
        </div>

</a>
