{% extends 'base.html.twig' %}

{% block title %}Categories index{% endblock %}

{% block body %}
<div class="container-lite">
    <h1 class="title">Mes catégories</h1>
    <div class="categories__grid">
        {% for category in app.user.getCategories %}
            {{ include('/components/filter.html.twig', { name:category.label, icon:category.iconReference, clicked:true }) }}
        {% endfor  %}
    </div>
    <h1 class="title">Découvrir d'autres catégories</h1>
    <div class="categories__grid">
        {% for category in categories %}
            {% if not app.user.getCategories.contains(category) %}
                {{ include('/components/filter.html.twig', { name:category.label, icon:category.iconReference, clicked:false }) }}
            {% endif %}
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
    </div>
</div>
{% endblock %}
